.idea
dist
.env
*.test
[._]*.sw[a-p]

# binary
trufflehog
tmp/go-test.json
.captain/detectors/timings.yaml
.captain/detectors/quarantines.yaml
.captain/detectors/flakes.yaml
.vscode

# Python
__pycache__/
*.pyc
