# catch-all
* @trufflesecurity/product-eng

# Scanning
pkg/writers/ @trufflesecurity/Scanning

# Shared
pkg/decoders/ @trufflesecurity/Scanning @trufflesecurity/OSS
pkg/engine/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/gitparse/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/giturl/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/handlers/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/iobuf/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/sanitizer/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/sources/ @trufflesecurity/Scanning  @trufflesecurity/OSS
proto/ @trufflesecurity/Scanning  @trufflesecurity/OSS

# OSS
pkg/detectors/ @trufflesecurity/OSS
pkg/common/ @trufflesecurity/OSS
pkg/custom_detectors/ @trufflesecurity/OSS
pkg/analzyers/ @trufflesecurity/OSS
pkg/engine/defaults/defaults.go @trufflesecurity/OSS
pkg/engine/defaults/defaults_test.go @trufflesecurity/OSS

# critical detectors
pkg/detectors/aws/ @trufflesecurity/backend
pkg/detectors/gcp/ @trufflesecurity/backend
pkg/detectors/azure/ @trufflesecurity/backend
pkg/detectors/okta/ @trufflesecurity/backend
pkg/detectors/privatekey/ @trufflesecurity/backend
pkg/detectors/slack/ @trufflesecurity/backend
pkg/detectors/slackwebhook/ @trufflesecurity/backend
pkg/detectors/microsoftteamswebhook/ @trufflesecurity/backend
pkg/detectors/twilio/ @trufflesecurity/backend
pkg/detectors/sendgrid/ @trufflesecurity/backend
pkg/detectors/gitlab/ @trufflesecurity/backend
pkg/detectors/gitlabv2/ @trufflesecurity/backend
pkg/detectors/github/ @trufflesecurity/backend
pkg/detectors/github_old/ @trufflesecurity/backend
pkg/detectors/githubapp/ @trufflesecurity/backend
