<!DOCTYPE html>
<html lang="en">
<head>
    <title>Python Flask Bucket List App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="./lib/style.css" rel="stylesheet">

</head>

<body>

<div class="container">
    <div class="header">
        <h3 class="text-muted">Trufflehog Web Interface</h3>
    </div>

    <div class="jumbotron">
        <h1>Trufflehog Submit Form</h1>
        <form class="form-signin" action="/scan" method="POST">

            <label for="inputName" class="sr-only">Token for account without private org access</label>
            <input type="name" name="public_token" id="inputName" class="form-control" placeholder="public github token"
                   autofocus>

            <label for="inputName" class="sr-only">Username of account with private org access</label>
            <input type="name" name="username" id="inputEmail" class="form-control" placeholder="private username"
                   >

            <label for="inputName" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                   >

            <label for="inputName" class="sr-only">Token for account above</label>
            <input type="name" name="token" id="inputToken" class="form-control" placeholder="Private Token"
                   >

            <label for="inputName" class="sr-only">Org Name</label>
            <input type="name" name="orgname" id="inputOrg" class="form-control" placeholder="Private Organization Name"
                   required>

            <label for="inputName" class="sr-only">Repo Name</label>
            <input type="name" name="repoName" id="inputRepo" class="form-control" placeholder="Repo Name(optional)">

            <label for="inputName" class="sr-only">Slack Webhook URL</label>
            <input type="name" name="webhook" id="webhook" class="form-control" placeholder="webhook">

            <label for="inputName" class="sr-only">Slack Channel</label>
            <input type="name" name="channel" id="channel" class="form-control" placeholder="#channel or @user"><label for="inputName" class="sr-only">slack #channel or @user</label>

            <input type="submit" id="scan" class="btn btn-lg btn-primary btn-block" value="scan">Scan</input>
        </form>
    </div>


    <footer class="footer">
        <p>Notice: This is a quick n dirty frontend to <a href="https://github.com/dxa4481/truffleHog">Trufflehog</a> the credentials provided are only used to communicate to github and are in no way cached or otherwise stored.
        The source code for this frontend is located in https://github.com/northdpole/truffleHog</p>
    </footer>

</div>
</body>
</html>