
name: Scan for secrets

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test:
    if: github.repository == 'trufflesecurity/trufflehog'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        ref: ${{ github.head_ref }}
    - name: Dogfood
      uses: ./
      id: dogfood
      with:
        extra_args: --results=verified,unknown
