
name: Scan for secrets

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.18'
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        ref: ${{ github.head_ref }}
    - name: TruffleHog OSS
      # You may pin to the exact commit or the version.
      # uses: trufflesecurity/trufflehog@0752503872c81fb8820085d38d5cd7e7cff8a5af
      uses: trufflesecurity/trufflehog@v3.6.11
      with:
        path: ./
        base: ${{ github.event.repository.default_branch }}
        head: HEAD
