name: Snifftest

on:
  push:
    tags:
      - v*
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  Snifftest:
    name: Run Snifftest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - uses: actions/checkout@v3
      - name: Run Snifftest
        run: make snifftest